<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NFS-e</title>
  <link rel="stylesheet" type="text/css" href="<%=process.env.HOST%>/assets/css/view.css" />
</head>



<body>

  <div id="moldura">

    <table id="container" border="0" cellpadding="0" cellspacing="0" width="646">
      <tbody>
        <tr>
          <td>
            <div class="hh1">
              NFS-e - NOTA FISCAL DE SERVIÇOS ELETRÔNICA
            </div>
          </td>
        </tr>
        <tr>
          <td class="bordaInferior">
            <table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tbody>
                <tr class="teste">
                  <td width="25%" class="bordaLateral">
                    <span class="numeroDestaque">
                      <%=nfse.Numero%>
                    </span>
                  </td>
                  <td width="31%" class="bordaLateral">
                    <span class="subTitulo">Emitida em:<br /></span><span class="dataEmissao">
                      <%=nfse.DataEmissao%>
                    </span>
                  </td>
                  <td width="17%" class="bordaLateral">
                    <span class="subTitulo">Série RPS:</span>
                    <br />
                    <span class="dataEmissao">
                      <%=nfse.IdentificacaoRps.Numero%>
                    </span>
                  </td>
                  <td width="27%">
                    <span class="subTitulo">Código de Verificação:<br /> </span><span class="dataEmissao">
                      <%=nfse.CodigoVerificacao%>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="160">
                            <img id="form:imgLogo" src="<%=process.env.HOST%>/assets/images/logo.png" align="middle" width="180" height="auto" style="margin-right: 10px;" />
                          </td>
                          <td width="491">
                            <div class="hh3">
                              <%=nfse.PrestadorServico.RazaoSocial%>
                            </div>
                            <table width="100%" cellspacing="1" class="teste">
                              <tbody>
                                <tr>
                                  <td width="52%">
                                    <span class="cnpjPrincipal" id="j_id"> CPF/CNPJ: <%=nfse.PrestadorServico.IdentificacaoPrestador.Cnpj%> </span>
                                  </td>
                                  <td width="48%">
                                    <span class="cnpjPrincipal" id="j_id2"> Inscrição Municipal:&nbsp;<%=nfse.PrestadorServico.IdentificacaoPrestador.InscricaoMunicipal%> </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2">
                                    <%=nfse.PrestadorServico.Endereco.Endereco%>, <%=nfse.PrestadorServico.Endereco.Numero%> - <%=nfse.PrestadorServico.Endereco.Complemento%> - <%=nfse.PrestadorServico.Endereco.Bairro%> - <%=nfse.PrestadorServico.Endereco.Cep%>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span id="j_id3">
                                      <%=nfse.PrestadorServico.Endereco.Municipio.municipio%>
                                    </span>
                                  </td>
                                  <td>
                                    <span id="j_id5">
                                      <%=nfse.PrestadorServico.Endereco.Municipio.estado%>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    Telefone: &nbsp;
                                  </td>
                                  <td>
                                    Email: &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="linhaDivisao" />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="box02">
                              <table>
                                <tbody>
                                  <tr>
                                    <td colspan="2">
                                      <div class="hh2">
                                        Tomador do(s) Serviço(s)
                                      </div>
                                    </td>
                                  </tr>
                                  <tr class="teste">
                                    <td width="52%">
                                      <span class="cnpjPrincipal" id="j_id27"><span id="form:j_id64"> CPF/CNPJ:&nbsp;<%=nfse.TomadorServico.IdentificacaoTomador.CpfCnpj.Cnpj%></span> </span>
                                    </td>
                                    <td width="48%">
                                      <span class="cnpjPrincipal" id="j_id33"><span id="form:j_id70"> Inscrição Municipal:&nbsp;<%=nfse.TomadorServico.IdentificacaoTomador.InscricaoMunicipal%></span> </span>
                                    </td>
                                  </tr>
                                  <tr class="teste">
                                    <td colspan="2">
                                      <span class="cnpjPrincipal">
                                        <%=nfse.TomadorServico.RazaoSocial%>
                                      </span>
                                    </td>
                                  </tr>
                                  <tr class="teste">
                                    <td colspan="2">
                                      <%=nfse.TomadorServico.Endereco.Endereco%>, <%=nfse.TomadorServico.Endereco.Numero%> - <%=nfse.TomadorServico.Endereco.Complemento%> - <%=nfse.TomadorServico.Endereco.Bairro%> - <%=nfse.TomadorServico.Endereco.Cep%>
                                    </td>
                                  </tr>
                                  <tr class="teste">
                                    <td>
                                      <span id="j_id41"><span id="form:j_id78">
                                          <%=nfse.TomadorServico.Endereco.Municipio.municipio%>
                                        </span> </span>
                                    </td>
                                    <td>
                                      <span id="j_id44"><span id="form:j_id81">
                                          <%=nfse.TomadorServico.Endereco.Municipio.estado%>
                                        </span> </span>
                                    </td>
                                  </tr>
                                  <tr class="teste">
                                    <td>
                                      Telefone:&nbsp;Não Informado
                                    </td>
                                    <td>
                                      Email:&nbsp;Não Informado
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <img src="<%=process.env.HOST%>/assets/images/bottom_box02.gif" alt="." class="noprint" />
                            </div>
                            <hr class="linhaDivisao" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr class="teste"></tr>
        <tr>
          <td>
            <div class="box02">
              <table border="0" cellpadding="4" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td width="100%">
                      <div class="hh2">
                        Discriminação do(s) Serviço(s)
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="servicos">
                      <%=nfse.Servico.Discriminacao%>
                    </td>
                  </tr>
                </tbody>
              </table>
              <img src="<%=process.env.HOST%>/assets/images/bottom_box02.gif" alt="." class="noprint" />
              <hr class="linhaDivisao" />
            </div>
            <div class="box04">
              <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td>
                      <span class="subTitulo">Código de Tributação do Município (CTISS)</span>
                      <p class="teste">
                        <%=nfse.Servico.CodigoTributacaoMunicipio%>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="linhaDivisao" />
            </div>
            <div style="margin: 0px 5px;">
              <p class="teste">
                <span class="subTitulo">Subitem Lista de Serviços LC 116/03 / Descrição:</span>
              </p>
              <p class="teste">
                <%=nfse.Servico.ItemListaServico%>
              </p>
              <hr class="linhaDivisao" />
            </div>
            <div class="box04">
              <span id="j_id106"> </span>
              <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td valign="top" width="50%">
                      <p class="teste">
                        <span class="subTitulo">Cod/Município da incidência do ISSQN:</span>
                      </p>
                      <p class="teste">
                        <%=nfse.Servico.CodigoTributacaoMunicipio%> / Belo Horizonte
                      </p>
                    </td>
                    <td valign="top" width="50%">
                      <span class="subTitulo">Natureza da Operação:</span>
                      <p class="teste">Tributação no município</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <span id="form:j_id130">
              <div style="margin: 0px 5px;">
                <span id="j_id106"> </span>
                <span id="form:j_id132"> </span>
                <table border="0" cellpadding="4" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="33%" height="25" align="center" valign="middle" class="bordaLateral">
                        <p class="teste"><span class="subTitulo"> Regime Especial de Tributação: </span>Cooperativa</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </span>
            <hr class="linhaDivisao" />
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td valign="top" class="bordaInferior">
                    <div class="box05">
                      <table border="0" cellpadding="4" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td class="hh2" width="44%">
                              Valor dos serviços:
                            </td>
                            <td class="hh2" width="56%" align="right">
                              <%=nfse.Servico.Valores.ValorServicos%>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableValores">
                                <tbody>
                                  <tr>
                                    <td width="131" class="bordaInferior">
                                      (-) Descontos:
                                    </td>
                                    <td width="165" align="right" class="bordaInferior">
                                      <%=nfse.Servico.Valores.DescontoCondicionado%>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bordaInferior">
                                      (-) Retenções Federais:
                                    </td>
                                    <td align="right" class="bordaInferior">
                                      <%=nfse.rentecoesFederais%>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bordaInferior">
                                      (-) ISS Retido na Fonte:
                                    </td>
                                    <td align="right" class="bordaInferior">
                                      <%=nfse.Servico.Valores.IssRetido%>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="valorLiquido">
                                      <b>Valor Líquido:</b>
                                    </td>
                                    <td align="right" class="valorLiquido">
                                      <b>
                                        <%=nfse.Servico.Valores.ValorLiquidoNfse%>
                                      </b>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <img src="<%=process.env.HOST%>/assets/images/bottom_box05.gif" alt="." class="noprint" />
                    </div>
                  </td>
                  <td class="bordaInferior">
                    <div class="box05">
                      <table border="0" cellpadding="4" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td width="42%" class="hh2">
                              Valor dos serviços:
                            </td>
                            <td width="58%" align="right" class="hh2">
                              <%=nfse.Servico.Valores.ValorServicos%>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="teste">
                                <tbody>
                                  <tr>
                                    <td width="152" class="bordaInferior">
                                      (-) Deduções:
                                    </td>
                                    <td width="144" align="right" class="bordaInferior">
                                      <%=nfse.Servico.Valores.ValorDeducoes%>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bordaInferior">
                                      (-) Desconto Incondicionado:
                                    </td>
                                    <td align="right" class="bordaInferior">
                                      <%=nfse.Servico.Valores.DescontoCondicionado%>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bordaInferior" style="font-size: 12px;">
                                      <strong>(=) Base de Cálculo:</strong>
                                    </td>
                                    <td align="right" class="bordaInferior" style="font-size: 12px;">
                                      <strong>
                                        <%=nfse.Servico.Valores.BaseCalculo%>
                                      </strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bordaInferior">
                                      (x) Alíquota:
                                    </td>
                                    <td align="right" class="bordaInferior">
                                      <%=nfse.Servico.Valores.Aliquota%>%
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="valorLiquido">
                                      <b>(=)Valor do ISS:</b>
                                    </td>
                                    <td align="right" class="valorLiquido">
                                      <b>
                                        <%=nfse.Servico.Valores.ValorIss%>
                                      </b>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <img src="<%=process.env.HOST%>/assets/images/bottom_box05.gif" alt="." class="noprint" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="bordaInferior">
            <span style="margin: 0px 5px;" class="subTitulo">Retenções Federais:</span>
            <br />
            <span id="form:j_id164"> <span style="margin: 0px 5px;" class="subTitulo">PIS:</span><span class="teste">
                <%=nfse.Servico.Valores.ValorPis%>
              </span></span>
            <span id="form:j_id167"> <span style="margin: 0px 5px;" class="subTitulo">COFINS:</span><span class="teste">
                <%=nfse.Servico.Valores.ValorCofins%>
              </span></span>
            <span id="form:j_id170"> <span style="margin: 0px 5px;" class="subTitulo">IR:</span><span class="teste">
                <%=nfse.Servico.Valores.ValorIr%>
              </span></span>
            <span id="form:j_id173"> <span style="margin: 0px 5px;" class="subTitulo">CSLL:</span><span class="teste">
                <%=nfse.Servico.Valores.ValorCsll%>
              </span></span>
            <span id="form:j_id176"> <span style="margin: 0px 5px;" class="subTitulo">INSS:</span><span class="teste">
                <%=nfse.Servico.Valores.ValorInss%>
              </span></span>
            <span id="form:j_id179"> <span style="margin: 0px 5px;" class="subTitulo">Outras retenções:</span><span class="teste">
                <%=nfse.Servico.Valores.OutrasRetencoes%>
              </span></span>
          </td>
        </tr>
        <tr>
          <td class="bordaInferior" style="padding: 5px;">
            <span class="subTitulo">Outras Informações:</span>
            <p class="teste">
              <!-- Caso seja Gerado a nota em um ambiente de teste Apresenta uma mensagem -->

              <% if(process.env.API_MODE=="2" ){%>
                <div class="msg">NFS-e gerada em ambiente de teste. <strong>NÃO TEM VALOR JURÍDICO NEM FISCAL</strong> .</div>
                <%}%>

                  <p><b>Prezado Cliente</b><br>
                    Esta será a Nota Fiscal de Serviços Eletrônica da <%=process.env.COMPANY_NAME%>. Caso queiram imprimi-la no formato da Prefeitura Municipal de Belo Horizonte, acesse o endereço: https://bhissdigital.pbh.gov.br/nfse/pages/consultaNFS-e_cidadao.jsf<br></p>
                  <p><b>Atensiosamente</b><br>
                    <%=process.env.COMPANY_NAME%>
                  </p>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <table class="tableNoBorder" border="0" cellpadding="4" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="9%">
                    <img src="<%=process.env.HOST%>/assets/images/img_brasao_titulo.gif" alt="Brasão Prefeitura" />
                  </td>
                  <td width="82%">
                    <span class="subTitulo">Prefeitura de Belo Horizonte - Secretaria Municipal de Fazenda</span>
                    <p class="teste">
                      Rua Espírito Santo, 605 - 3º andar - Centro - CEP: 30160-919 - Belo Horizonte MG.
                      <br />
                      Dúvidas: SIGESP
                      <br />
                    </p>
                  </td>
                  <td width="9%">
                    <img src="<%=process.env.HOST%>/assets/images/bh_nota_10.jpg" alt="Brasão Prefeitura" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>